.cell-list-item__container {
  position: relative;
}

.cell-item.enter-active {
  opacity: 0;
}

.cell-item.enter-done {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.cell-item.exit-active {
  opacity: 1;
}

.cell-item.exit-done {
  opacity: 0;
  transition: opacity 500ms ease-in;
}




