.preview__overlay {
  flex-grow: 1;
  position: relative;
}

.preview__iframe {
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview__overlay:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
