.markdown__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.markdown__textarea {
  flex: 1;
  margin-top: 3px;
  padding: 20px;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
  background: transparent;
  color: white;
  border: 1px solid black;
}

.markdown__navbar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markdown__navbar-item {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
